includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - total-mail-queue.php
        - total-mail-queue-options.php
        - total-mail-queue-smtp.php
    excludePaths:
        - lib/*
        - tests/*
        - vendor/*
    bootstrapFiles:
        - tests/Stubs/phpstan-bootstrap.php
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
