includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - total-mail-queue.php
        - src/
    excludePaths:
        - lib/*
        - tests/*
        - vendor/*
    bootstrapFiles:
        - tests/Stubs/phpstan-bootstrap.php
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
