<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="tests/Functional/bootstrap.php"
         colors="true"
         convertDeprecationsToExceptions="false"
         cacheResultFile=".phpunit.cache/test-results-functional">
    <testsuites>
        <testsuite name="functional">
            <directory>tests/Functional</directory>
            <exclude>tests/Functional/bootstrap.php</exclude>
            <exclude>tests/Functional/FunctionalTestCase.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>
